{#
This file is part of the Odiseo Amazon FBA Plugin package, a commercial software.
Only users who have purchased a valid license and accept to the terms of the License Agreement can install
and use this program.
Copyright (c) 2018-2024 - Pablo D'amico
#}

{{ form_errors(form) }}

<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.code) }}
            {{ form_row(form.countryCode) }}
            {{ form_row(form.enabled) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            {{ form_row(form.clientId) }}
            {{ form_row(form.clientSecret) }}
            {{ form_row(form.refreshToken) }}
            {{ form_row(form.sandbox) }}
        </div>
    </div>
</div>